Repository avitai/artifex: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

ruff-docstring-whitespace:
  name: ruff-docstring-whitespace (auto-fix whitespace)
  entry: ruff check --select=W291,W292,W293,F841 --fix --unsafe-fixes
  language: system
  pass_filenames: true

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

refactor(evaluation)!: the statistical, distance, quality and information helpers are calibrax's
  CHANGELOG.md
  docs/core/distance.md
  docs/core/information.md
  docs/core/metric_ops.md
  docs/core/quality.md
  docs/core/statistical.md
  mkdocs.yml
  pyproject.toml
  quality/complexity_baseline.json
  quality/ruff_baseline.json
  src/artifex/benchmarks/metrics/image.py
  src/artifex/benchmarks/metrics/molecular_flows.py
  src/artifex/benchmarks/metrics/text.py
  src/artifex/generative_models/core/evaluation/metrics/distance.py
  src/artifex/generative_models/core/evaluation/metrics/general/precision_recall.py
  src/artifex/generative_models/core/evaluation/metrics/image/fid.py
  src/artifex/generative_models/core/evaluation/metrics/information.py
  src/artifex/generative_models/core/evaluation/metrics/metric_ops.py
  src/artifex/generative_models/core/evaluation/metrics/quality.py
  src/artifex/generative_models/core/evaluation/metrics/statistical.py
  src/artifex/generative_models/modalities/tabular/evaluation.py
  src/artifex/generative_models/modalities/timeseries/evaluation.py
  tests/artifex/generative_models/core/evaluation/metrics/test_pipeline.py
  tests/artifex/generative_models/modalities/test_tabular_modality.py
  tests/artifex/repo_contracts/test_evaluation_helper_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

chore(release): 0.1.5
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

fix(training): compile the Trainer step once and run every epoch through one pipeline
  CHANGELOG.md
  pyproject.toml
  quality/ruff_baseline.json
  src/artifex/generative_models/training/trainer.py
  tests/artifex/generative_models/training/test_trainer_epochs.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

fix(training): keep the objective's step traceable under the compiled step
  CHANGELOG.md
  src/artifex/generative_models/core/losses/__init__.py
  src/artifex/generative_models/training/trainer.py
  src/artifex/generative_models/training/trainers/autoregressive_trainer.py
  tests/artifex/repo_contracts/test_training_surface_contracts.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): 0.1.6
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

fix(tests): declare the pytest environment in the table pytest-env reads
  pyproject.toml
Due: sort_pyproject

docs: describe the package by its model families and modalities
  README.md
  pyproject.toml
Due: sort_pyproject

chore: point local paths at the current mount (/mnt/ssd2)
  notebooks/artifex_vae_celeba_optimized.ipynb
Due: none

ci: drop the Codecov uploads; coverage.py in CI is the gate
  .github/workflows/ci.yml
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: ruff-docstring-whitespace

feat(training): expose the Trainer checkpoint pytree for composed checkpoints
  CHANGELOG.md
  docs/api/training/trainer.md
  docs/user-guide/advanced/checkpointing.md
  src/artifex/generative_models/training/trainer.py
  tests/artifex/generative_models/training/test_checkpoint_state_api.py
  tests/artifex/repo_contracts/test_training_surface_contracts.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): 0.1.7
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

docs: remove unmeasured performance claims, and state DDIM's gain as step counts
  docs/examples/basic/diffusion-mnist-demo.md
  docs/examples/basic/diffusion-mnist.md
  docs/training/diffusion_trainer.md
  docs/user-guide/advanced/checkpointing.md
  docs/user-guide/advanced/parallelism.md
  docs/user-guide/concepts/diffusion-explained.md
  docs/user-guide/inference/optimization.md
  docs/user-guide/models/diffusion-guide.md
  examples/generative_models/image/diffusion/diffusion_mnist.ipynb
  examples/generative_models/image/diffusion/diffusion_mnist.py
  examples/generative_models/image/vae/advanced_vae.ipynb
  examples/generative_models/image/vae/advanced_vae.py
Due: ruff-docstring-whitespace, check-file-length

docs: drop the unmeasured batching scaling claim from the optimization summary
  docs/user-guide/inference/optimization.md
Due: none

docs: drop the unmeasured batching scaling claim from the optimization summary (#14)
  docs/user-guide/inference/optimization.md
Due: none

test: choose the test backend and emulated devices through substrax
  .github/workflows/ci.yml
  .github/workflows/upstream-compat.yml
  CHANGELOG.md
  TESTING.md
  pyproject.toml
  tests/artifex/repo_contracts/jax_runtime_probe.py
  tests/artifex/repo_contracts/test_jax_test_environment_contracts.py
  tests/conftest.py
  tests/jax_test_environment.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace

refactor!: remove core.jax_config in favour of substrax.runtime
  CHANGELOG.md
  docs/core/jax_config.md
  mkdocs.yml
  pyproject.toml
  quality/ruff_baseline.json
  src/artifex/generative_models/__init__.py
  src/artifex/generative_models/core/jax_config.py
  tests/artifex/core/test_jax_config.py
  tests/artifex/generative_models/models/diffusion/test_unet_cross_attention.py
  tests/artifex/repo_contracts/test_backend_contracts.py
  tests/conftest.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

test: gate GPU tests with the substrax pytest plugin's markers
  .github/workflows/ci.yml
  .github/workflows/upstream-compat.yml
  CHANGELOG.md
  CONTRIBUTING.md
  TESTING.md
  conftest.py
  deploy/modal_app.py
  docs/community/contributing.md
  docs/development/philosophy.md
  docs/development/testing.md
  docs/getting-started/hardware-setup-guide.md
  pyproject.toml
  scripts/README.md
  tests/artifex/fixtures/base.py
  tests/artifex/generative_models/core/layers/test_flash_attention.py
  tests/artifex/generative_models/core/layers/test_resnet.py
  tests/artifex/generative_models/models/backbones/test_unet_performance.py
  tests/artifex/repo_contracts/test_backend_contracts.py
  tests/artifex/repo_contracts/test_contributor_testing_contracts.py
  tests/artifex/repo_contracts/test_jax_test_environment_contracts.py
  tests/conftest.py
  tests/utils/gpu_test_utils.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

refactor!: remove utils.file_utils so outputs go where callers ask
  CHANGELOG.md
  docs/roadmap/planned-modules.md
  docs/utils/file_utils.md
  docs/utils/index.md
  mkdocs.yml
  src/artifex/benchmarks/datasets/geometric.py
  src/artifex/benchmarks/suites/protein_benchmarks.py
  src/artifex/benchmarks/visualization/optimization_plots.py
  src/artifex/utils/file_utils.py
  src/artifex/visualization/protein_viz.py
  tests/artifex/benchmarks/datasets/test_geometric_minimal_dataset.py
  tests/artifex/benchmarks/test_benchmark_figure_output_paths.py
  tests/artifex/code_analysis/test_test_structure_analyzer.py
  tests/artifex/generative_models/extensions/protein/test_protein_model.py
  tests/artifex/repo_contracts/test_runtime_facade_surface_contracts.py
  tests/artifex/repo_contracts/test_utils_reference_catalog_contracts.py
  tests/artifex/visualization/test_protein_viz.py
Due: ruff-docstring-whitespace, check-file-length

test: count Trainer step traces with substrax's TraceCounter
  tests/artifex/generative_models/training/test_trainer_epochs.py
Due: ruff-docstring-whitespace

docs: enter the parallelism guide's meshes with jax.set_mesh
  CHANGELOG.md
  docs/user-guide/advanced/parallelism.md
  tests/artifex/repo_contracts/test_distributed_surface_contracts.py
Due: ruff-docstring-whitespace

build: set XLA_CLIENT_MEM_FRACTION, the memory fraction name jaxlib reads
  CHANGELOG.md
  deploy/modal_app.py
  pyproject.toml
  scripts/setup_env.py
  tests/artifex/repo_contracts/test_backend_contracts.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

test: measure coverage by source directory, not package name
  pyproject.toml
  tests/artifex/repo_contracts/test_repo_standards_contracts.py
Due: sort_pyproject, ruff-docstring-whitespace

test: run repository-contract children through substrax's run_python
  tests/artifex/repo_contracts/test_api_reference_surface_contracts.py
  tests/artifex/repo_contracts/test_backend_contracts.py
  tests/artifex/repo_contracts/test_benchmark_foundation_contracts.py
  tests/artifex/repo_contracts/test_complexity_baseline_contracts.py
  tests/artifex/repo_contracts/test_config_surface_contracts.py
  tests/artifex/repo_contracts/test_core_evaluation_truthfulness_contracts.py
  tests/artifex/repo_contracts/test_data_surface_contracts.py
  tests/artifex/repo_contracts/test_derive_status_contracts.py
  tests/artifex/repo_contracts/test_device_surface_contracts.py
  tests/artifex/repo_contracts/test_docs_tooling_contracts.py
  tests/artifex/repo_contracts/test_generative_package_surface_contracts.py
  tests/artifex/repo_contracts/test_inference_reference_catalog_contracts.py
  tests/artifex/repo_contracts/test_layer_truthfulness_contracts.py
  tests/artifex/repo_contracts/test_model_creation_surface_contracts.py
  tests/artifex/repo_contracts/test_model_reference_catalog_contracts.py
  tests/artifex/repo_contracts/test_mutation_helper_contracts.py
  tests/artifex/repo_contracts/test_optional_extras_contracts.py
  tests/artifex/repo_contracts/test_paper_and_roadmap_truthfulness_contracts.py
  tests/artifex/repo_contracts/test_ruff_baseline_contracts.py
  tests/artifex/repo_contracts/test_script_analysis_contracts.py
  tests/artifex/repo_contracts/test_user_guide_inference_contracts.py
  tests/artifex/repo_contracts/test_user_guide_integrations_contracts.py
  tests/artifex/repo_contracts/test_utils_reference_catalog_contracts.py
  tests/utils/fresh_interpreter.py
  tests/utils/test_fresh_interpreter.py
Due: ruff-docstring-whitespace

build: require datarax 0.1.10 and lock its release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|notebooks)/
  check-file-length: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|notebooks|tests/)
