Repository avitai/artifex: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

ruff-docstring-whitespace:
  name: ruff-docstring-whitespace (auto-fix whitespace)
  entry: ruff check --select=W291,W292,W293,F841 --fix --unsafe-fixes
  language: system
  pass_filenames: true

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

Use published Datarax and CalibraX packages
  pyproject.toml
  uv.lock
Due: sort_pyproject

Rename PyPI distribution to avitai-artifex
  .github/workflows/publish.yml
  README.md
  docs/api/core/device-manager.md
  docs/community/faq.md
  docs/examples/basic/diffusion-mnist-demo.md
  docs/examples/basic/diffusion-mnist.md
  docs/examples/basic/flow-mnist.md
  docs/examples/basic/simple-gan.md
  docs/examples/basic/vae-mnist.md
  docs/examples/diffusion/dit-demo.md
  docs/examples/energy/simple-ebm.md
  docs/examples/framework/framework-features-demo.md
  docs/examples/geometric/geometric-models-demo.md
  docs/examples/geometric/simple-point-cloud-example.md
  docs/examples/losses/loss-examples.md
  docs/examples/protein/protein-extensions-example.md
  docs/examples/protein/protein-extensions-with-config.md
  docs/examples/protein/protein-model-extension.md
  docs/examples/protein/protein-point-cloud-example.md
  docs/getting-started/hardware-setup-guide.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: sort_pyproject

Stabilize Artifex CI coverage and transform checks
  .github/workflows/ci.yml
  docs/getting-started/quickstart.md
  examples/generative_models/advanced_training_example.ipynb
  examples/generative_models/advanced_training_example.py
  pyproject.toml
  src/artifex/benchmarks/metrics/image.py
  src/artifex/cli/__main__.py
  src/artifex/generative_models/core/configuration/management/versioning.py
  src/artifex/generative_models/core/evaluation/metrics/image/fid.py
  src/artifex/generative_models/core/evaluation/metrics/metric_ops.py
  src/artifex/generative_models/core/evaluation/metrics/quality.py
  src/artifex/generative_models/core/evaluation/metrics/statistical.py
  src/artifex/generative_models/core/losses/divergence.py
  tests/artifex/benchmarks/datasets/test_synthetic_datasets.py
  tests/artifex/benchmarks/performance/test_model_performance.py
  tests/artifex/benchmarks/suites/test_standard_suite.py
  tests/artifex/benchmarks/test_cli_runner.py
  tests/artifex/benchmarks/test_registry_calibrax.py
  tests/artifex/generative_models/core/evaluation/metrics/test_pipeline.py
  tests/artifex/generative_models/core/losses/test_adversarial.py
  tests/artifex/generative_models/core/losses/test_base.py
  tests/artifex/generative_models/core/losses/test_divergence.py
  tests/artifex/generative_models/core/losses/test_geometric_losses.py
  tests/artifex/generative_models/core/losses/test_metric_learning.py
  tests/artifex/generative_models/core/losses/test_perceptual.py
  tests/artifex/generative_models/core/losses/test_reconstruction.py
  tests/artifex/generative_models/core/losses/test_regularization.py
  tests/artifex/generative_models/core/test_configuration_versioning.py
  tests/artifex/generative_models/core/test_noise_schedule_transform_compatibility.py
  tests/artifex/generative_models/core/test_sampling.py
  tests/artifex/generative_models/extensions/test_unified_config.py
  tests/artifex/generative_models/training/test_utils.py
  tests/artifex/repo_contracts/test_backend_contracts.py
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
  tests/artifex/repo_contracts/test_onboarding_documentation_contracts.py
  tests/artifex/repo_contracts/test_repo_standards_contracts.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

Migrate Artifex to Datarax 0.1.3 Pipeline and CalibraX 0.1.1
  docs/api/data/loaders.md
  docs/data/index.md
  docs/examples/basic/diffusion-mnist.md
  docs/examples/basic/flow-mnist.md
  docs/user-guide/data/data-guide.md
  docs/user-guide/data/overview.md
  docs/user-guide/models/diffusion-guide.md
  examples/generative_models/image/diffusion/diffusion_mnist_training.ipynb
  examples/generative_models/image/diffusion/diffusion_mnist_training.py
  examples/generative_models/image/flow/flow_mnist.ipynb
  examples/generative_models/image/flow/flow_mnist.py
  pyproject.toml
  src/artifex/data/protein/dataset.py
  src/artifex/generative_models/training/loops/__init__.py
  src/artifex/generative_models/training/loops/streaming.py
  src/artifex/generative_models/training/trainer.py
  tests/artifex/generative_models/modalities/audio/test_audio_datasets.py
  tests/artifex/generative_models/modalities/image/test_image_datasets.py
  tests/artifex/generative_models/modalities/multi_modal/test_multi_modal_datasets.py
  tests/artifex/generative_models/modalities/protein/test_dataset.py
  tests/artifex/generative_models/modalities/tabular/test_tabular_datasets.py
  tests/artifex/generative_models/modalities/text/test_text_datasets.py
  tests/artifex/generative_models/modalities/timeseries/test_timeseries_datasets.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

Loosen 10-callback overhead threshold for slow Linux CI runners
  tests/artifex/generative_models/training/test_callbacks_base.py
Due: ruff-docstring-whitespace

Bump version to 0.1.1
  pyproject.toml
Due: sort_pyproject

Fix VAE MLP output activation and refresh quickstart artifacts
  docs/assets/quickstart/vae_latent_interpolation.png
  docs/assets/quickstart/vae_loss_curve.png
  docs/assets/quickstart/vae_reconstruction.png
  docs/assets/quickstart/vae_samples.png
  docs/getting-started/quickstart.ipynb
  docs/getting-started/quickstart.md
  docs/getting-started/quickstart.py
  src/artifex/generative_models/models/vae/decoders.py
  src/artifex/generative_models/models/vae/encoders.py
  uv.lock
Due: ruff-docstring-whitespace, check-file-length

Overhaul generative-model concept docs with unified view
  docs/getting-started/core-concepts.md
  docs/getting-started/quickstart.ipynb
  docs/getting-started/quickstart.md
  docs/getting-started/quickstart.py
  docs/user-guide/concepts/autoregressive-explained.md
  docs/user-guide/concepts/diffusion-explained.md
  docs/user-guide/concepts/ebm-explained.md
  docs/user-guide/concepts/flow-explained.md
  docs/user-guide/concepts/gan-explained.md
  docs/user-guide/concepts/generative-models-unified.md
  docs/user-guide/concepts/vae-explained.md
  mkdocs.yml
  pyproject.toml
  scripts/validate_docs.py
  tests/artifex/generative_models/extensions/test_unified_config.py
  tests/artifex/repo_contracts/test_docs_navigation_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

Release v0.1.2
  .github/workflows/publish.yml
  pyproject.toml
Due: sort_pyproject

chore: ignore node_modules and offline site build output
  .gitignore
Due: none

fix: build transformer dropout from the resolved rng stream
  src/artifex/generative_models/core/layers/transformers.py
  tests/artifex/generative_models/core/layers/test_transformers.py
Due: ruff-docstring-whitespace, check-file-length

fix: stop resetting the decoder kv cache on every decode call
  src/artifex/generative_models/core/layers/transformers.py
  tests/artifex/generative_models/core/layers/test_transformers.py
Due: ruff-docstring-whitespace, check-file-length

fix: derive the noise schedule in float64 to stop cancellation
  src/artifex/generative_models/core/noise_schedule.py
  tests/unit/core/noise_schedule/test_noise_schedule.py
Due: ruff-docstring-whitespace, check-file-length

fix: bind the diffusion objective to the noise it scores
  src/artifex/generative_models/models/diffusion/base.py
  tests/artifex/generative_models/models/diffusion/test_ddpm.py
  tests/artifex/generative_models/models/diffusion/test_diffusion_base.py
Due: ruff-docstring-whitespace, check-file-length

fix: correct the reverse-step posterior mean in DiffusionSampler
  src/artifex/generative_models/core/sampling/diffusion.py
  tests/artifex/generative_models/core/sampling/test_diffusion_sampler.py
Due: ruff-docstring-whitespace, check-file-length

fix: honour the key dimension in cross-modal attention
  src/artifex/generative_models/modalities/multi_modal/representations.py
  tests/artifex/generative_models/modalities/test_multi_modal_modality.py
Due: ruff-docstring-whitespace, check-file-length

refactor: keep one source of truth for diffusion loss types
  src/artifex/generative_models/core/configuration/diffusion_config.py
  src/artifex/generative_models/models/diffusion/base.py
Due: ruff-docstring-whitespace, check-file-length

docs: record the transformer dropout and decode contracts
  docs/core/transformers.md
  src/artifex/generative_models/core/layers/transformers.py
Due: ruff-docstring-whitespace, check-file-length

docs: refresh the diffusion objective and sampler examples
  docs/api/models/diffusion.md
  docs/core/diffusion.md
Due: none

refactor: use the rotary helper in RotaryPositionalEncoding
  src/artifex/generative_models/core/layers/positional.py
Due: ruff-docstring-whitespace, check-file-length

docs: correct the sqrt noise schedule description
  src/artifex/generative_models/core/noise_schedule.py
Due: ruff-docstring-whitespace, check-file-length

test: add Modal GPU launcher for attention backend verification
  deploy/bench_attention.py
  deploy/gpu_probe.py
  deploy/modal_app.py
  pyproject.toml
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

feat: dispatch attention to the fused cuDNN kernel
  docs/core/flash_attention.md
  src/artifex/generative_models/core/layers/__init__.py
  src/artifex/generative_models/core/layers/attention_backend.py
  src/artifex/generative_models/core/layers/flash_attention.py
  tests/artifex/generative_models/core/layers/test_flash_attention.py
  tests/artifex/generative_models/core/layers/test_flash_attention_compatibility.py
  tests/artifex/repo_contracts/test_layer_truthfulness_contracts.py
Due: ruff-docstring-whitespace, check-file-length

build: drop triton and pin CI to the lockfile
  .github/actions/setup-artifex/action.yml
  pyproject.toml
  tests/artifex/generative_models/core/layers/test_flash_attention.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace

Release v0.1.3
  pyproject.toml
  uv.lock
Due: sort_pyproject

Refresh uv.lock to clear known vulnerabilities
  uv.lock
Due: none

Slim runtime dependencies
  pyproject.toml
  src/artifex/benchmarks/datasets/celeba.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

Remove development-only runtime dependencies and move viewers to extras
  pyproject.toml
  src/artifex/benchmarks/datasets/celeba.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

Record the cryptography PKCS#7 advisory as reviewed and not applicable
  pyproject.toml
Due: sort_pyproject

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|notebooks)/
  check-file-length: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|notebooks|tests/)
