Repository avitai/artifex: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|notebooks)/
  check-file-length: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|notebooks|tests/)

docs: launch-readiness pass on the artifex README
  README.md
Due: none

Ignore private working notes and assistant configuration
  .gitignore
Due: none

Add a security policyand three issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  SECURITY.md
Due: none

Record how the pinned CUDA stack was validated, and that CI does not re-check it
  pyproject.toml
Due: sort_pyproject

Let setup.sh sync caller-requested extras
  setup.sh
Due: none

docs: rewrite the README status notice and invite contributions
  README.md
Due: none

Add a security policy and three issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  SECURITY.md
Due: none

Install the logging extra in the unit test job
  .github/workflows/ci.yml
Due: none

fix: declare what the test suite needs, and revive the suppression contract
  pyproject.toml
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace

Align the jax stack, drop Python 3.11, and fix what the old pin was hiding
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/quality-checks.yml
  .github/workflows/security.yml
  .python-version
  .readthedocs.yaml
  CONTRIBUTING.md
  README.md
  docs/community/faq.md
  pyproject.toml
  scripts/jupytext_converter.py
  src/artifex/generative_models/core/distributions/base.py
  src/artifex/generative_models/core/layers/flash_attention.py
  src/artifex/generative_models/core/losses/regularization.py
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
  tests/artifex/repo_contracts/test_repo_standards_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

Let setup.sh sync caller extras and record how the CUDA pins were validated
  pyproject.toml
  setup.sh
Due: sort_pyproject

Add community files and ignore private working notes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .gitignore
  README.md
  SECURITY.md
Due: none

Declare what the test suite needs, and revive the suppression contract
  pyproject.toml
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace

Refresh dependencies and record the reviewed advisory
  pyproject.toml
  src/artifex/benchmarks/datasets/celeba.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

Release 0.1.4
  pyproject.toml
  uv.lock
Due: sort_pyproject

build(pre-commit): pin the node version for hook environments
  .pre-commit-config.yaml
Due: none

build(deps): relock tornado, mistune and mkdocs-material to fixed releases
  uv.lock
Due: none

docs: apply markdownlint to SECURITY.md
  SECURITY.md
Due: none

ci: run every hook and the lock check in the quality gate; Python 3.13 lane
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  pyproject.toml
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: sort_pyproject, ruff-docstring-whitespace

ci: publish with PyPI trusted publishing; add RELEASING.md
  .github/workflows/publish.yml
  CHANGELOG.md
  RELEASING.md
Due: none

fix: define every value on every path
  CHANGELOG.md
  quality/complexity_baseline.json
  src/artifex/benchmarks/performance/optimization.py
  src/artifex/generative_models/core/layers/egnn.py
  src/artifex/generative_models/core/layers/kan/_utils.py
  src/artifex/generative_models/core/losses/regularization.py
  src/artifex/generative_models/core/sampling/ode.py
  src/artifex/generative_models/core/sampling/sde.py
  src/artifex/generative_models/modalities/timeseries/representations.py
  src/artifex/generative_models/models/diffusion/dit.py
  src/artifex/generative_models/models/flow/neural_spline.py
  src/artifex/generative_models/models/geometric/graph.py
  src/artifex/generative_models/utils/logging/logger.py
  tests/artifex/generative_models/core/losses/test_regularization.py
Due: ruff-docstring-whitespace, check-file-length

ci: pyright standard and blocking; import-linter, pydoclint and validate-pyproject hooks
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  pyproject.toml
  quality/pydoclint_baseline.txt
  scripts/setup_env.py
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
  tests/artifex/repo_contracts/test_repo_standards_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

ci: adopt the shared ruff rule set with a per-file baseline that only shrinks
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
  quality/ruff_baseline.json
  scripts/check_ruff_baseline.py
  tests/artifex/repo_contracts/test_repo_standards_contracts.py
  tests/artifex/repo_contracts/test_ruff_baseline_contracts.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

build: move typer, trimesh and graphviz to extras
  CHANGELOG.md
  README.md
  docs/cli/index.md
  docs/getting-started/installation.md
  pyproject.toml
  src/artifex/benchmarks/cli/benchmark_runner.py
  src/artifex/benchmarks/datasets/geometric.py
  src/artifex/cli/__main__.py
  src/artifex/cli/config.py
  src/artifex/generative_models/utils/code_analysis/dependency_analyzer.py
  src/artifex/utils/__init__.py
  src/artifex/utils/extras.py
  tests/artifex/repo_contracts/test_optional_extras_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

docs(layers): document the KAN and Clifford backbone families
  CHANGELOG.md
  docs/core/clifford.md
  docs/core/index.md
  docs/core/kan.md
  mkdocs.yml
  src/artifex/generative_models/core/layers/__init__.py
  tests/artifex/repo_contracts/test_layer_truthfulness_contracts.py
Due: ruff-docstring-whitespace, check-file-length

refactor(training)!: gradient accumulation and loss scaling over optax and flax
  CHANGELOG.md
  docs/training/gradient_accumulation.md
  docs/training/index.md
  docs/training/mixed_precision.md
  docs/user-guide/advanced/distributed.md
  docs/user-guide/training/advanced-features.md
  docs/user-guide/training/training-guide.md
  mkdocs.yml
  src/artifex/generative_models/training/__init__.py
  src/artifex/generative_models/training/gradient_accumulation.py
  tests/artifex/generative_models/training/test_gradient_accumulation.py
  tests/artifex/generative_models/training/test_rl_training.py
  tests/artifex/repo_contracts/test_training_reference_catalog_contracts.py
Due: ruff-docstring-whitespace, check-file-length

ci: documented-model-surface check and a weekly upstream compatibility run
  .github/workflows/ci.yml
  .github/workflows/quality-checks.yml
  .github/workflows/upstream-compat.yml
  CHANGELOG.md
  docs/models/index.md
  pyproject.toml
  scripts/derive_status.py
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
  tests/artifex/repo_contracts/test_derive_status_contracts.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

build: depend on substrax; raise the calibrax, jax and orbax-checkpoint floors
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

refactor(training)!: callbacks base and early stopping come from substrax
  CHANGELOG.md
  docs/training/base.md
  docs/training/checkpoint.md
  docs/training/early_stopping.md
  docs/training/index.md
  docs/training/vae_trainer.md
  docs/user-guide/training/training-guide.md
  mkdocs.yml
  pyproject.toml
  quality/complexity_baseline.json
  quality/ruff_baseline.json
  src/artifex/generative_models/training/callbacks/__init__.py
  src/artifex/generative_models/training/callbacks/base.py
  src/artifex/generative_models/training/callbacks/checkpoint.py
  src/artifex/generative_models/training/callbacks/early_stopping.py
  src/artifex/generative_models/training/callbacks/logging.py
  src/artifex/generative_models/training/callbacks/profiling.py
  tests/artifex/generative_models/training/test_callbacks_base.py
  tests/artifex/generative_models/training/test_callbacks_early_stopping.py
  tests/artifex/generative_models/training/test_callbacks_logging.py
  tests/artifex/generative_models/training/test_rl_training.py
  tests/artifex/repo_contracts/test_callback_surface_contracts.py
  tests/artifex/repo_contracts/test_training_reference_catalog_contracts.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

refactor(training)!: trackers come from substrax; W&B callback over the shared logger
  CHANGELOG.md
  docs/core/logging.md
  docs/utils/index.md
  docs/utils/logger.md
  docs/utils/mlflow.md
  docs/utils/wandb.md
  mkdocs.yml
  pyproject.toml
  quality/complexity_baseline.json
  quality/pydoclint_baseline.txt
  quality/ruff_baseline.json
  src/artifex/generative_models/core/logging.py
  src/artifex/generative_models/training/callbacks/logging.py
  src/artifex/generative_models/utils/logging/__init__.py
  src/artifex/generative_models/utils/logging/logger.py
  src/artifex/generative_models/utils/logging/metrics.py
  src/artifex/generative_models/utils/logging/mlflow.py
  src/artifex/generative_models/utils/logging/wandb.py
  tests/artifex/generative_models/training/test_callbacks_logging.py
  tests/artifex/generative_models/utils/logging/test_artifex_external_loggers.py
  tests/artifex/generative_models/utils/logging/test_artifex_logger.py
  tests/artifex/generative_models/utils/logging/test_artifex_metrics.py
  tests/artifex/repo_contracts/test_logging_surface_contracts.py
  tests/artifex/repo_contracts/test_training_surface_contracts.py
  tests/artifex/repo_contracts/test_utils_reference_catalog_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

refactor(core)!: device identity comes from substrax; diagnostics move to scripts
  CHANGELOG.md
  docs/api/core/device-manager.md
  docs/api/core/losses.md
  docs/core/architecture.md
  docs/core/device_manager.md
  docs/core/device_testing.md
  docs/examples/templates/example_template.ipynb
  docs/examples/templates/example_template.py
  docs/generative_models/index.md
  docs/getting-started/core-concepts.md
  docs/roadmap/planned-modules.md
  docs/user-guide/inference/optimization.md
  docs/user-guide/models/autoregressive-guide.md
  docs/user-guide/models/ebm-guide.md
  docs/utils/device.md
  examples/benchmarks/protein_benchmark_example.ipynb
  examples/benchmarks/protein_benchmark_example.py
  examples/benchmarks/run_protein_benchmarks.ipynb
  examples/benchmarks/run_protein_benchmarks.py
  mkdocs.yml
  pyproject.toml
  quality/complexity_baseline.json
  quality/ruff_baseline.json
  scripts/gpu_utils.py
  src/artifex/generative_models/core/README.md
  src/artifex/generative_models/core/__init__.py
  src/artifex/generative_models/core/device_manager.py
  src/artifex/generative_models/core/device_testing.py
  src/artifex/generative_models/utils/jax/device.py
  tests/artifex/core/test_device_manager.py
  tests/artifex/core/test_device_testing.py
  tests/artifex/generative_models/utils/test_device_utils.py
  tests/artifex/repo_contracts/test_device_surface_contracts.py
  tests/artifex/repo_contracts/test_generative_package_surface_contracts.py
  tests/artifex/repo_contracts/test_utils_reference_catalog_contracts.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

build: datarax>=0.1.6
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

refactor(core)!: hardware specs and performance estimation come from calibrax
  CHANGELOG.md
  docs/core/performance.md
  examples/verify_examples.py
  mkdocs.yml
  pyproject.toml
  quality/pydoclint_baseline.txt
  quality/ruff_baseline.json
  src/artifex/generative_models/core/performance.py
  src/artifex/generative_models/inference/optimization/production.py
  tests/artifex/core/test_performance.py
  tests/artifex/generative_models/inference/test_production_optimization.py
  tests/artifex/repo_contracts/test_core_runtime_truthfulness_contracts.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

refactor(training)!: checkpoints go through substrax's Orbax store; no pickle trainer checkpoints
  CHANGELOG.md
  docs/community/faq.md
  docs/core/checkpointing.md
  docs/training/checkpoint.md
  docs/user-guide/advanced/checkpointing.md
  docs/user-guide/inference/overview.md
  docs/user-guide/integrations/deployment.md
  docs/user-guide/integrations/huggingface.md
  docs/user-guide/training/overview.md
  docs/user-guide/training/training-guide.md
  mkdocs.yml
  pyproject.toml
  quality/complexity_baseline.json
  quality/pydoclint_baseline.txt
  quality/ruff_baseline.json
  src/artifex/generative_models/core/__init__.py
  src/artifex/generative_models/core/checkpointing.py
  src/artifex/generative_models/training/callbacks/checkpoint.py
  src/artifex/generative_models/training/trainer.py
  tests/artifex/generative_models/core/test_checkpointing.py
  tests/artifex/generative_models/training/test_callbacks_checkpoint.py
  tests/artifex/generative_models/training/test_trainer_extensions.py
  tests/artifex/repo_contracts/test_checkpoint_surface_contracts.py
  tests/artifex/repo_contracts/test_generative_package_surface_contracts.py
  tests/artifex/repo_contracts/test_inference_reference_catalog_contracts.py
  tests/artifex/repo_contracts/test_user_guide_inference_contracts.py
  tests/artifex/repo_contracts/test_user_guide_integrations_contracts.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length
