Repository avitai/artifex: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

ruff-docstring-whitespace:
  name: ruff-docstring-whitespace (auto-fix whitespace)
  entry: ruff check --select=W291,W292,W293,F841 --fix --unsafe-fixes
  language: system
  pass_filenames: true

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

build: admit numpy 2.5 and lock its latest release
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

docs(distributed): drop distribute_batch from the substrax.devices names
  docs/user-guide/advanced/distributed.md
Due: none

chore(release): 0.1.8
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

refactor: take keys through substrax.rng and build optimizers with substrax.optim
  CHANGELOG.md
  docs/training/factory.md
  docs/training/index.md
  docs/user-guide/training/overview.md
  pyproject.toml
  quality/pydoclint_baseline.txt
  quality/ruff_baseline.json
  src/artifex/generative_models/core/configuration/management/templates.py
  src/artifex/generative_models/core/configuration/optimizer_config.py
  src/artifex/generative_models/core/distributions/base.py
  src/artifex/generative_models/core/distributions/mixture.py
  src/artifex/generative_models/core/rng.py
  src/artifex/generative_models/core/sampling/ancestral.py
  src/artifex/generative_models/core/sampling/blackjax_samplers.py
  src/artifex/generative_models/core/sampling/mcmc.py
  src/artifex/generative_models/models/autoregressive/base.py
  src/artifex/generative_models/models/autoregressive/pixel_cnn.py
  src/artifex/generative_models/models/autoregressive/transformer.py
  src/artifex/generative_models/models/autoregressive/wavenet.py
  src/artifex/generative_models/training/optimizers/factory.py
  src/artifex/generative_models/training/trainer.py
  tests/artifex/generative_models/core/distributions/test_transformations_nnx.py
  tests/artifex/generative_models/core/sampling/test_blackjax_samplers.py
  tests/artifex/generative_models/models/autoregressive/test_base.py
  tests/artifex/generative_models/training/test_optimizer_factory.py
  tests/unit/core/configuration/test_optimizer_config.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

chore(release): 0.1.9
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

refactor(losses): reduce through calibrax; charbonnier and the latency clock onto calibrax
  CHANGELOG.md
  docs/api/core/losses.md
  docs/core/reconstruction.md
  pyproject.toml
  src/artifex/benchmarks/performance/latency.py
  src/artifex/generative_models/core/losses/__init__.py
  src/artifex/generative_models/core/losses/adversarial.py
  src/artifex/generative_models/core/losses/base.py
  src/artifex/generative_models/core/losses/divergence.py
  src/artifex/generative_models/core/losses/geometric.py
  src/artifex/generative_models/core/losses/perceptual.py
  src/artifex/generative_models/core/losses/reconstruction.py
  src/artifex/generative_models/core/losses/regularization.py
  tests/artifex/benchmarks/performance/test_latency.py
  tests/artifex/generative_models/core/losses/test_base.py
  tests/artifex/generative_models/core/losses/test_divergence.py
  tests/artifex/generative_models/core/losses/test_losses.py
  tests/artifex/generative_models/core/losses/test_reconstruction.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

chore(release): 0.1.10
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

ci: run the macOS matrix on pushes to main only
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: ruff-docstring-whitespace

build: require datarax 0.1.12
  pyproject.toml
  uv.lock
Due: sort_pyproject

feat(training): the final batch of an epoch, the steps per epoch and the schedule horizon come from the data
  CHANGELOG.md
  docs/api/training/trainer.md
  docs/configs/data.md
  docs/user-guide/training/overview.md
  quality/pydoclint_baseline.txt
  src/artifex/configs/defaults/data/protein_dataset.yaml
  src/artifex/generative_models/core/configuration/data_config.py
  src/artifex/generative_models/training/callbacks/logging.py
  src/artifex/generative_models/training/loops/streaming.py
  src/artifex/generative_models/training/trainer.py
  tests/artifex/generative_models/training/test_final_batch_policy.py
  tests/artifex/generative_models/training/test_trainer_scheduler_integration.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): 0.1.11
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

feat(training): the trainer checkpoint is substrax's format 3
  .github/actions/format2-trainer-fixture/action.yml
  .github/workflows/ci.yml
  .gitignore
  docs/api/training/trainer.md
  docs/community/faq.md
  docs/training/checkpoint.md
  docs/user-guide/advanced/checkpointing.md
  docs/user-guide/inference/overview.md
  docs/user-guide/integrations/deployment.md
  docs/user-guide/training/overview.md
  docs/user-guide/training/training-guide.md
  pyproject.toml
  quality/pydoclint_baseline.txt
  scripts/make_format2_trainer_fixture.py
  src/artifex/generative_models/training/__init__.py
  src/artifex/generative_models/training/callbacks/__init__.py
  src/artifex/generative_models/training/callbacks/checkpoint.py
  src/artifex/generative_models/training/trainer.py
  tests/artifex/generative_models/training/test_callbacks_checkpoint.py
  tests/artifex/generative_models/training/test_checkpoint_format2.py
  tests/artifex/generative_models/training/test_checkpoint_state_api.py
  tests/artifex/generative_models/training/test_trainer_extensions.py
  tests/artifex/generative_models/training/test_trainer_unified_config.py
  tests/artifex/repo_contracts/test_checkpoint_surface_contracts.py
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

feat(training): the configuration owns the checkpoint directory, cadence and retention
  docs/api/training/trainer.md
  docs/user-guide/advanced/checkpointing.md
  examples/generative_models/geometric/geometric_benchmark_demo.ipynb
  examples/generative_models/geometric/geometric_benchmark_demo.py
  src/artifex/generative_models/core/configuration/training_config.py
  src/artifex/generative_models/training/trainer.py
  tests/artifex/generative_models/training/test_checkpoint_format2.py
  tests/artifex/generative_models/training/test_checkpoint_state_api.py
  tests/artifex/generative_models/training/test_final_batch_policy.py
  tests/artifex/generative_models/training/test_trainer_epochs.py
  tests/artifex/generative_models/training/test_trainer_extensions.py
  tests/artifex/generative_models/training/test_trainer_unified_config.py
  tests/unit/core/configuration/test_training_config.py
Due: ruff-docstring-whitespace, check-file-length

docs: changelog for the format-3 trainer checkpoint and the configuration-owned checkpointing
  CHANGELOG.md
Due: none

fix(callbacks): ModelCheckpoint reads the step on the save path only
  src/artifex/generative_models/training/callbacks/checkpoint.py
  tests/artifex/generative_models/training/test_callbacks_checkpoint.py
Due: ruff-docstring-whitespace, check-file-length

build(security): jupyter-server 2.21.1 in the lock, mlflow PYSEC-2026-3865 reviewed
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

The format-2 fixture environment pins jax, jaxlib and flax to the lock's versions
  .github/actions/format2-trainer-fixture/action.yml
  scripts/make_format2_trainer_fixture.py
  tests/artifex/generative_models/training/test_checkpoint_format2.py
Due: ruff-docstring-whitespace, check-file-length

The fixture environment takes jax, jaxlib and flax from the lock, not from literals
  .github/actions/format2-trainer-fixture/action.yml
  scripts/make_format2_trainer_fixture.py
  scripts/write_format2_fixture.py
  tests/artifex/generative_models/training/test_checkpoint_format2.py
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: ruff-docstring-whitespace, check-file-length

The fixture script reads versions only from lock entries that carry one
  scripts/write_format2_fixture.py
Due: ruff-docstring-whitespace, check-file-length

The fixture environment is a committed lock, not a resolution
  .github/actions/format2-trainer-fixture/action.yml
  scripts/format2_fixture_requirements.in
  scripts/format2_fixture_requirements.txt
  scripts/make_format2_trainer_fixture.py
  scripts/write_format2_fixture.py
  tests/artifex/generative_models/training/test_checkpoint_format2.py
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: ruff-docstring-whitespace, check-file-length

A trainer without a checkpoint directory checkpoints nowhere
  CHANGELOG.md
  docs/api/training/trainer.md
  docs/training/checkpoint.md
  docs/user-guide/advanced/checkpointing.md
  src/artifex/generative_models/core/configuration/training_config.py
  src/artifex/generative_models/training/callbacks/checkpoint.py
  src/artifex/generative_models/training/trainer.py
  tests/artifex/generative_models/training/test_callbacks_checkpoint.py
  tests/artifex/generative_models/training/test_checkpoint_state_api.py
Due: ruff-docstring-whitespace, check-file-length

build: substrax 0.1.11, cryptography 50.0.1 and mlflow 3.16.1; the two reviewed ignores come out
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

chore(release): 0.1.12
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

test: compare the resolved checkpoint directory, not a literal /tmp path
  tests/artifex/generative_models/training/test_trainer_unified_config.py
Due: ruff-docstring-whitespace

build(deps): require datarax 0.1.14 and calibrax 0.1.9
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

build(security): anyio 4.14.2 in the lock
  CHANGELOG.md
  uv.lock
Due: none

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|notebooks)/
  check-file-length: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|notebooks|tests/)
