Repository avitai/artifex: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

ruff-docstring-whitespace:
  name: ruff-docstring-whitespace (auto-fix whitespace)
  entry: ruff check --select=W291,W292,W293,F841 --fix --unsafe-fixes
  language: system
  pass_filenames: true

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

build(security): anyio 4.14.2 in the lock
  CHANGELOG.md
  uv.lock
Due: none

build(deps)!: substrax 0.1.16, which reads one checkpoint format
  .github/actions/format2-trainer-fixture/action.yml
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  docs/api/training/trainer.md
  docs/user-guide/advanced/checkpointing.md
  pyproject.toml
  scripts/format2_fixture_requirements.in
  scripts/format2_fixture_requirements.txt
  scripts/make_format2_trainer_fixture.py
  src/artifex/generative_models/training/__init__.py
  src/artifex/generative_models/training/trainer.py
  tests/artifex/generative_models/training/test_checkpoint_format2.py
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

build(deps)!: substrax 0.1.16, which reads one checkpoint format (#30)
  .github/actions/format2-trainer-fixture/action.yml
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  docs/api/training/trainer.md
  docs/user-guide/advanced/checkpointing.md
  pyproject.toml
  scripts/format2_fixture_requirements.in
  scripts/format2_fixture_requirements.txt
  scripts/make_format2_trainer_fixture.py
  src/artifex/generative_models/training/__init__.py
  src/artifex/generative_models/training/trainer.py
  tests/artifex/generative_models/training/test_checkpoint_format2.py
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

chore(release): 0.1.13
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

chore(release): 0.1.13 (#31)
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

feat(sampling): effective sample size from BlackJAX
  CHANGELOG.md
  src/artifex/generative_models/core/sampling/__init__.py
  src/artifex/generative_models/core/sampling/diagnostics.py
  tests/artifex/generative_models/core/sampling/test_diagnostics.py
Due: ruff-docstring-whitespace, check-file-length

feat(sampling): effective sample size from BlackJAX, and blackjax 1.6.2
  CHANGELOG.md
  pyproject.toml
  src/artifex/generative_models/core/sampling/diagnostics.py
  tests/artifex/generative_models/core/sampling/test_diagnostics.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

test(contracts): security patch floors bind only while a package is locked
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: ruff-docstring-whitespace

feat(sampling): effective sample size from BlackJAX (#32)
  CHANGELOG.md
  pyproject.toml
  src/artifex/generative_models/core/sampling/__init__.py
  src/artifex/generative_models/core/sampling/diagnostics.py
  tests/artifex/generative_models/core/sampling/test_diagnostics.py
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

chore(release): 0.1.14
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

chore(release): 0.1.14 (#33)
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

fix: run on datarax 0.1.16 and calibrax 0.1.14
  CHANGELOG.md
  docs/benchmarks/optimization.md
  docs/benchmarks/optimization_plots.md
  docs/data/dataset.md
  docs/data/index.md
  docs/data/protein_dataset.md
  docs/user-guide/data/data-guide.md
  docs/user-guide/data/overview.md
  examples/verify_examples.py
  pyproject.toml
  quality/complexity_baseline.json
  quality/ruff_baseline.json
  src/artifex/benchmarks/model_adapters/generative.py
  src/artifex/benchmarks/model_adapters/protein_adapters.py
  src/artifex/benchmarks/performance/optimization.py
  src/artifex/benchmarks/visualization/optimization_plots.py
  src/artifex/data/protein/dataset.py
  src/artifex/generative_models/inference/optimization/production.py
  src/artifex/generative_models/training/loops/streaming.py
  src/artifex/generative_models/training/trainer.py
  tests/artifex/benchmarks/test_adapter_calibrax.py
  tests/artifex/benchmarks/test_optimization_plots.py
  tests/artifex/generative_models/core/evaluation/benchmarks/test_adapters.py
  tests/artifex/generative_models/inference/test_production_optimization.py
  tests/artifex/generative_models/modalities/protein/test_dataset.py
  tests/artifex/generative_models/training/test_final_batch_policy.py
  tests/artifex/repo_contracts/test_data_surface_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

fix: run on datarax 0.1.16 and calibrax 0.1.14 (#34)
  CHANGELOG.md
  docs/benchmarks/optimization.md
  docs/benchmarks/optimization_plots.md
  docs/data/dataset.md
  docs/data/index.md
  docs/data/protein_dataset.md
  docs/user-guide/data/data-guide.md
  docs/user-guide/data/overview.md
  examples/verify_examples.py
  pyproject.toml
  quality/complexity_baseline.json
  quality/ruff_baseline.json
  src/artifex/benchmarks/model_adapters/generative.py
  src/artifex/benchmarks/model_adapters/protein_adapters.py
  src/artifex/benchmarks/performance/optimization.py
  src/artifex/benchmarks/visualization/optimization_plots.py
  src/artifex/data/protein/dataset.py
  src/artifex/generative_models/inference/optimization/production.py
  src/artifex/generative_models/training/loops/streaming.py
  src/artifex/generative_models/training/trainer.py
  tests/artifex/benchmarks/test_adapter_calibrax.py
  tests/artifex/benchmarks/test_optimization_plots.py
  tests/artifex/generative_models/core/evaluation/benchmarks/test_adapters.py
  tests/artifex/generative_models/inference/test_production_optimization.py
  tests/artifex/generative_models/modalities/protein/test_dataset.py
  tests/artifex/generative_models/training/test_final_batch_policy.py
  tests/artifex/repo_contracts/test_data_surface_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

chore(release): 0.1.15
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

chore(release): 0.1.15 (#35)
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

ci: skip the work a merge repeats from its pull request
  .github/workflows/ci.yml
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: ruff-docstring-whitespace

ci: skip the work a merge repeats from its pull request (#36)
  .github/workflows/ci.yml
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: ruff-docstring-whitespace

build(deps): lock urllib3 2.8.0 for CVE-2026-97687, -97688 and -97689
  uv.lock
Due: none

test(contracts): record urllib3 2.8.0 as the security patch floor
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: ruff-docstring-whitespace

fix(deps): lock virtualenv 21.14.1 for PYSEC-2026-4011 to -4014
  uv.lock
Due: none

ci: use uv 0.12.21 and setup-uv v10.2.0
  .github/actions/setup-artifex/action.yml
  deploy/modal_app.py
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: ruff-docstring-whitespace, check-file-length

ci: prune every uv cache before it is saved
  .github/actions/setup-artifex/action.yml
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: ruff-docstring-whitespace

ci: compare the merged tree through substrax's already-tested action
  .github/workflows/ci.yml
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: ruff-docstring-whitespace

ci: cancel a superseded CI, build verification or security run
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: ruff-docstring-whitespace

ci: cancel only a superseded pull request run, never a push to main
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
Due: ruff-docstring-whitespace

docs: build the documentation as a check; Read the Docs hosts it
  .github/workflows/docs.yml
  docs/CNAME
  mkdocs.yml
  tests/artifex/repo_contracts/test_ci_workflow_contracts.py
  tests/artifex/repo_contracts/test_docs_tooling_contracts.py
Due: ruff-docstring-whitespace

fix(deps): lock tornado 6.5.10 for GHSA-chx6-46f5-w4vp, GHSA-c2m8-h5v5-343r and GHSA-3hv7-mjh2-fv65
  uv.lock
Due: none

fix(deps): lock tornado 6.5.10 for GHSA-chx6-46f5-w4vp, GHSA-c2m8-h5v5-343r and GHSA-3hv7-mjh2-fv65 (#43)
  uv.lock
Due: none

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|notebooks)/
  check-file-length: any of: \.py$, but not: ^(memory-bank|documents|custom_modes|.cursor|notebooks|tests/)
